<div class="flex w-full items-center font-sans px-4 py-12">
    <img class="w-16 h-16 rounded-full mr-4" src="/wortie/img/avatar.png" alt="Avatar of Author">
    <div class="flex-1 px-2">
        <p class="text-base font-bold md:text-xl leading-none mb-2">{{ author }}</p>
        <p class="text-slate-600 text-xs md:text-base">Written by <a class="text-orange no-underline hover:underline" href="/">linkedin?</a></p>
    </div>
</div>