<div class="mx-auto bg-deep-space">
	<nav class="md:flex md:items-center md:justify-between md:p-5">
    <a href="/" class="font-bold text-xl tracking-tight text-white-smoke hover:text-mustard">My Page</a>
    {% set navPages = collections.all | eleventyNavigation %}
		<ul>
    {% for entry in navPages %}
      <li class="inline">
        <a
         href="{{ entry.url }}"
         class="font-semibold uppercase text-sm py-1 px-4 rounded mr-4 inline-block
         {{'text-mustard' if entry.url in page.url
         else 'text-white-smoke hover:text-mustard'}}">
         {{ entry.title }}
       </a>
      </li>
    {% endfor %}
    </ul>
	</nav>
</div>
