@tailwind base;
@tailwind components;
@tailwind utilities;

.named-fence-block {
    position: relative;
    padding-top: 2em;
}
  
.named-fence-filename {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 7px;
    font-weight: bold;
    opacity: 0.5;
}