---
layout: layouts/base.njk
---
{% from 'macros/_postNav.njk' import postNav %}

<article class="prose prose-slate font-sans hover:prose-a:text-peach">{{ content | safe }}</article>

{% include "../components/author.njk" %}
{% include "../components/line_break.njk" %}
{# todo: next and previous URL's / titles #}
{{ postNav({next: false, back: false}) }}