---
layout: layouts/base.njk
---
{% from 'macros/_postNav.njk' import postNav %}

<article class="prose prose-slate font-sans hover:prose-a:text-peach">{{ content | safe }}</article>

{# Github component? #}
{# {% include "../components/author.njk" %} #}
{% include "../components/line_break.njk" %}

{% set previousPost = { "data": false, "url": false } %}
{% set nextPost = { "data": false, "url": false } %}
{% for post in collections.posts | reverse %}
    {% if post.data.id == id - 1 %}
        {% set previousPost = previousPost|setAttribute('data', post.data) %}
        {% set previousPost = previousPost|setAttribute('url', post.url) %}
    {% elseif post.data.id == id + 1 %}
        {% set nextPost = nextPost|setAttribute('data', post.data) %}
        {% set nextPost = nextPost|setAttribute('url', post.url) %}
    {% endif %}
{% endfor %}

{{ postNav(previousPost, nextPost) }}