<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../partials/head_links.njk" %}
  </head>

  <body class="bg-white-smoke font-sans leading-normal tracking-normal">
    {% include "../components/navigation.njk" %}

    <div id="mainContent" class="container w-full md:max-w-3xl mx-auto pt-20">
      <div class="w-full px-4 md:px-6 text-xl leading-normal font-sans">
        {% block mainContent %}{% endblock %}
      </div>
    </div>

    {% include "../components/footer.njk" %}

  </body>
</html>
