---
title: My Blogs
layout: layouts/base.njk
permalink: blog/
description: Here is a list of our most recent blogs.
eleventyNavigation:
  key: Blog
  order: 2
---
{% set postslist = collections.posts %}

<div class="text-center font-sans">
  <h1 class="font-bold break-normal text-slate-900 pt-6 pb-2 text-3xl md:text-4xl">{{ title }}<span class="text-yellow-500">.</span><span class="text-peach">.</span><span class="text-orange">.</span></h1>
  <p class="font-semibold text-slate-600">{{ description }}</p>
</div>

<section class="pb-10 lg:pb-20">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="container px-5 py-16 mx-auto flex flex-wrap">
        {% include "components/postslist.njk" %}
      </div>
    </div>
  </div>
</section>
